{% extends "base.html" %}
{% load static %}

{% block title %}All Blog Posts{% endblock %}

{% block content %}
    <div class="posts-header">
        <h1>All Blog Posts</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'post-create' %}" class="btn-primary">
                + Create New Post
            </a>
        {% endif %}
    </div>

    {% for post in post_list %}
        <article class="post-item">
            <h2>
                <a href="{% url 'post-detail' pk=post.pk %}">{{ post.title }}</a>
            </h2>
            <div class="post-meta">
                Posted by <span class="author-name">{{ post.author.username }}</span> 
                on {{ post.published_date|date:"F j, Y" }}
            </div>
            <div class="post-snippet">
                <!-- Display only the first 200 characters of the content -->
                <p>{{ post.content|truncatechars:200 }}</p>
                <a href="{% url 'post-detail' pk=post.pk %}" class="read-more">Read More &raquo;</a>
            </div>
        </article>
    {% empty %}
        <p class="no-posts-message">No blog posts found yet. Be the first to publish!</p>
    {% endfor %}
{% endblock %}
